// vendor styles
@import "vendor/normalize/_normalize.scss";
@import "vendor/bootstrap/stylesheets/_bootstrap.scss";
@import "vendor/font-awesome/scss/font-awesome.scss";

// app styles
@import "_theme";

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: $app-default;
}

