@import "_theme";

.app-gallery-item {
  display: inline-block;
  background-color: $app-light;
  border: solid 4px black;
  border-radius: 10px 0px 10px 0px;
  padding: 5px;
  margin: 5px;

  img {
    width: 200px;
  }
}
