.app-logo {
  fill: pink;
  width: 500px;
 
  &:hover { 
    animation: freaky .5s infinite;
  }

  @keyframes freaky {
    0%, 100% {
      fill: pink;
    }

    50% {
      fill: black;
    }
  }
}
